<div id="login">
	<div id="login-info">
		<div class="middle-wrapper">
			<div id="info">
				<div id="logo">
					<img src="imgs/login-logo.png" />
				</div>
				<p>
					Descubre una nueva red social dedicada a la comunidad universitaria
				</p>
				<button type="button">Registrate</button>
			</div>
		</div>
	</div>
	<div id="login-form">
		<div class="middle-wrapper">
			<form>
				<h1>Si ya eres usuario...</h1>
				<input id="username" type="text" name="username" placeholder="usuario"/>
				<input id="password" type="password" name="password" placeholder="contraseña" />
				<button id="login-button" type="button">Entrar</button>
				<a href="#">¿Ha olvidado su contraseña?</a>
			</form>
		</div>
	</div>
</div>